@{
    ViewBag.Title = "Home Page";
}

<main>
    <div style="height:100vh" class="w-100 d-flex justify-content-center align-items-center flex-column" >
        <p class="fs-1 badge text-dark ">
            Consultas - Eventos
        </p>
        <div>
            <img src="~/images/logoEventosLeon01.png" class="w-100" />
        </div>
    </div>
</main>